/* @tailwind "Tailwindcss/base";
@tailwind "Tailwindcss/components";
@tailwind "Tailwindcss/utilities"; */

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');
*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sono",  Verdana, Tahoma, sans-serif;
}